.chevysonic__engine-container__feature {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    margin: 1rem;
}

.chevysonic__engine-container__feature-title {
    /* flex: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 180px; */
    width: 100%;
    /* margin-right: 2rem; */
}

.chevysonic__engine-container__feature-title h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #fff;
    padding: 2rem 0;
}

.chevysonic__engine-container__feature-title div {
    width: 38px;
    height: 3px;
    /* background: var(--gradient-bar); */
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.25rem;
}

.chevysonic__engine-container_feature-text {
    flex: 2;
    /* max-width: 390px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}

.chevysonic__engine-container_feature-text img {
    width: 390px;
}

.chevysonic__engine-container_feature-text p {
    /* font-family: var(--font-family); */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    width: 390px;
    /* color: var(--color-text); */
    color: #fff;
}

@media screen and (max-width: 1050px) {
    .chevysonic__engine-container_feature-text img {
        width: 350px;
        margin: 0.5rem;
    }

    .chevysonic__engine-container_feature-text p {
        width: 350px;
        margin: 0.5rem;
    }
}

@media screen and (max-width: 900px) {
    .chevysonic__engine-container_feature-text p {
        font-size: 16px;
        line-height: 22px;
    }
}

@media screen and (max-width: 550px) {
    .chevysonic__engine-container__feature-title h1 {
        font-size: 14px;
        line-height: 22px;
    }

    .chevysonic__engine-container_feature-text p {
        font-size: 12px;
        line-height: 20px;
    }

    .chevysonic__engine-container__feature {
        margin: 1rem 0;
    }
}