.chevysonic {
    display: flex;
    flex-direction: column;
    margin: 10rem 11rem 4rem 10rem;
    padding: 2rem 8rem;
    background: var(--color-footer);

    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 0.5) 85%, rgba(27, 120, 222, 0.5) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 0.5) 85%, rgba(27, 120, 222, 0.5) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 0.5) 85%, rgba(27, 120, 222, 0.5) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 0.5) 85%, rgba(27, 120, 222, 0.5) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 0.5) 85%, rgba(27, 120, 222, 0.5) 100%);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.chevysonic-feature {
    display: flex;
}

/* Customizing feature component as per needs */
.chevysonic-feature .chevysonic__features-container__feature {
    margin: 0;
}

.chevysonic-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 4rem 0 2rem;
}

.chevysonic-heading h1 {
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
    font-family: var(--font-family);
    color: #fff;
}

.chevysonic-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.chevysonic-container-gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -4rem;
}

.chevysonic__gallery_h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #fff;
    font-family: var(--font-family);
    font-weight: 800;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #fff;
    padding: 2rem 0;
}

.chevysonic__gallery_h1 h1{
    font-size: 18px;
}

.chevysonic__gallery_h1 div {
    width: 38px;
    height: 3px;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.25rem;
}

/* Customizing feature component as per needs */
.chevysonic-container .chevysonic__features-container__feature, 
.chevysonic-container .chevysonic__engine-container__feature,
.chevysonic-container .chevysonic__specs-container__feature {
    margin: 1rem;
    width: 100%;
    display: unset;
    flex-direction: column;
}

/* Customizing feature component as per needs */
.chevysonic-container .chevysonic__features-container_feature-text,
.chevysonic-container .chevysonic__engine-container_feature-text,
.chevysonic-container .chevysonic__specs-container_feature-text {
    margin-top: 0.5rem;
}

@media screen and (max-width: 1650px) {
    .chevysonic-container-gallery {   
        margin-top: -6rem;
        margin-bottom: -4rem;
    }
}

@media screen and (max-width: 1500px) {
    .chevysonic-container-gallery {   
        margin-top: -10rem;
        margin-bottom: -10rem;
    }
}

@media screen and (max-width: 1400px) {
    .chevysonic{
        margin: 8rem 8rem 2rem 8rem;
        padding: 1.5rem 4rem;
    }

    .chevysonic-container-gallery {   
        margin-top: -10rem;
        margin-bottom: -4rem;
    }
}

@media screen and (max-width: 1300px) {
    .chevysonic-container-gallery {   
        margin-top: -10rem;
        margin-bottom: -10rem;
    }
}

@media screen and (max-width: 1200px) {
    .chevysonic-container-gallery {   
        margin-top: -10rem;
        margin-bottom: -4rem;
    }
}

@media screen and (max-width: 1199px) {
    .chevysonic{
        margin: 8rem 6rem 2rem 6rem;
        padding: 1.5rem 4rem;
    }

    .chevysonic-container-gallery {   
        margin-top: -4rem;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 1050px) {

    .chevysonic{
        margin: 8rem 6rem 2rem 6rem;
        padding: 1.5rem 4rem;
    }

    .chevysonic-container-gallery {   
        margin-top: -4rem;
    }

    .chevysonic-heading {
        flex-direction: column;
        align-items: center;
        margin: 4rem auto -2rem auto;
    }

    .chevysonic-heading p {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 850px) {

    .chevysonic{
        margin: 8rem 4rem 2rem 4rem;
        padding: 1.5rem 2rem;
    }

    .chevysonic-heading {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0rem;
    }

    .chevysonic-heading p {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 700px) {
    .chevysonic{
        margin: 8rem 3rem 2rem 3rem;
        padding: 1.5rem 2rem;
    }
}

@media screen and (max-width: 650px) {
    .chevysonic{
        margin: 8rem 3rem 2rem 3rem;
        padding: 1.5rem 2rem;
    }
    /* Customizing feature component as per needs */
    .chevysonic-feature .chevysonic__features-container__feature {
        flex-direction: column;
    }

    /* Customizing feature component as per needs */
    .chevysonic-feature .chevysonic__features-container_feature-text {
        margin-top: 0.5rem;
    }

    .chevysonic-heading h1 {
        font-size: 28px;
        line-height: 40px;
    }
}

@media screen and (max-width: 550px) {
    .chevysonic{
        margin: 6rem 2rem 2rem 2rem;
        padding: 1.5rem 2rem;
    }

    .featureImage {
        height: 70px;
    }

    .chevysonic-container {
        justify-content: center;
    }

    /* Customizing feature component as per needs */
    .chevysonic-feature .chevysonic__features-container__feature {
        flex-direction: column;
    }

    /* Customizing feature component as per needs */
    .chevysonic-feature .chevysonic__features-container_feature-text {
        margin-top: 0.5rem;
    }

    .chevysonic__gallery_h1 {
        padding-bottom: 3rem ;
    }

    .chevysonic__gallery_h1 h1 {
        font-size: 14px;
        line-height: 22px;
    }

    .chevysonic-heading h1 {
        text-align: center;
        font-size: 28px;
        line-height: 40px;
    }
}

@media screen and (max-width: 450px) {
    .chevysonic-heading{
        margin-top: 2rem;
    }
    .chevysonic__gallery_h1 {
        padding: 3rem 0 1rem 0;
    }
}

@media screen and (max-width: 400px) {
    /* Customizing feature component as per needs */

    .chevysonic__gallery_h1 {
        padding-bottom: 0 ;
    }

    .chevysonic-container .chevysonic__features-container__feature {
        margin: 1rem 0;
        min-width: 100%;
    }
}