.video-responsive {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 4rem;
}

@media screen and (max-width: 1200px) {
    .video-responsive {
        margin: -3rem 0 2rem 0;
    }
}

@media screen and (max-width: 1050px) {
    .video-responsive {
        margin: -2rem 0 2rem 0;
    }
}

@media screen and (max-width: 820px) {
    .video-responsive {
        margin: 0rem 0 1.5rem 0;
    }
}

@media screen and (max-width: 550px) {
    .video-responsive {
        margin: -4rem 0 1.5rem 0;
    }
}
